body {
   margin: 0em;
   padding: 0em;
}

h1, h2, h3, h4, h5, h6 {
font-family: Sans-serif;
   margin: 0em;
   padding: 0em;
}

h1{
   font-size: 1.1em;
}
h2{
   font-size: 1em;
}

p, ol, ul {
   font-size: 0.9em;
}

p.abstract{
   max-width: 650px;
   text-align: justify;
}

ul {
/*    list-style-type: circle; */
}
/* li { padding: 1;} */

a {
   text-decoration: none;
   color: #191970;
}

/*a:link {
    color: #666666;
}
a:visited {
    color: #666666;
}
a:active {
}
a:hover {
   text-decoration: none;
   background-color: blue;
   color: white;
}*/

/** HEADER */

#header {

   text-align: left;
/*    float: top; */
   max-width: 750px;
   min-width: 485px;
   margin-left: auto ;
   margin-right: auto ;
   padding: 0.4em;
   background-color: black;
}

#header h1 {
   margin: 0em;
   padding: 0.25em;
   font-size: 1.1em;
   color: white   ;
   font-variant:small-caps;
}

/** MENU */

#menu {
    font-family: Sans-serif;
   text-align: center;
/*    float: top; */
   max-width: 725px;
   min-width: 485px;
   margin-left: auto ;
   margin-right: auto ;
   padding: 0.5em;
   background-color: #254117;
}

#menu a {
   padding: 15px;
   text-decoration: none;
   font-size: 1em;
   color: #F5F5F5;
}

#menu a:hover {
   background-color: black;
}

#menu a.ativo{
   background-color: black;
}

p.titulo{ font-size: 1.05em
}


/** CONTENT */

#content {
/*    float: center;  */
/*    max-width: 70%; */

   max-width: 660px;
   min-width: 485px;
   margin-left: auto ;
   margin-right: auto ;
   padding-left: 0em;
}
#content a {
    color: #348017;
}
#content img.left{
   float: left;
   padding: 0.25em;
   padding-right: 1em;
}

#content img.right{
   float: right;
   padding: 0.25em;
   padding-right: 1em;
}
#esquerda {
   float: left;
   padding-right: 2.5em;
}
#centro {
/*    float: center; */
   padding-left: 2.5em;

}
#divart {
/*     float: center; */
    max-width: 500px;
    margin-left: auto ;
    margin-right: auto ;
    padding-left: 2.5em;

}

#box {
   max-width: 150px;
   text-align: center;
   float: right;
   padding-left: 2.5em;

}

#mini {
        font-size: 0.6em;
}

#updatepanel{
float: right;
text-align: right;
font-variant:normal;
    font-size: 0.5em;
color: white    ;

}

#box2 img { max-width: 320px;
}
#box2 {
    max-width: 300px;
    text-align: center;
    float: right;
    padding-left: 2.5em;
    padding-right:0em;
}